.jumbotron {
  text-align: center;
  background: url("https://s-media-cache-ak0.pinimg.com/originals/78/0f/39/780f396f8a00b0d6bb88f6b6076ee90c.jpg");

}


img {
  height: 240px;
  width: auto;
}

.col-md-3 h4 {
  text-align: center;
  color: gold;
  font-family: 'Eagle Lake', cursive;
}

.columnImage {
  text-align: center;
}

h3 {
  margin-bottom: 5%;
  color: gold;
  font-family: 'Eagle Lake', cursive;

}

.jumbotron h1 {
  color: gold;
  font-family: 'Eagle Lake', cursive;
}

body {
  background: url("http://i.imgur.com/KA92zQq.jpg") no-repeat fixed;
  background-size: cover;
}
