.jumbotron {
  text-align: center;
  background-color: #1e4c38;
  border-style: solid;
  border-width: medium;
  border-radius: 50%;
  border-color: gold;

}


img {
  height: 240px;
  width: auto;
}

.col-md-3 h4 {
  text-align: center;
  color: gold;
  font-family: 'Eagle Lake', cursive;
  background-color: #1e4c38;
  border-style: solid;
  border-width: medium;
  border-radius: 10%;
  border-color: gold;
}

.columnImage {
  text-align: center;
}

h3 {
  margin-bottom: 5%;
  color: gold;
  font-family: 'Eagle Lake', cursive;
  background-color: #1e4c38;
  border-style: solid;
  border-width: medium;
  border-radius: 10%;
  border-color: gold;


}

.jumbotron h1 {
  color: gold;
  font-family: 'Eagle Lake', cursive;
}

body {
  background: url("https://images6.alphacoders.com/805/thumb-1920-805656.jpg") no-repeat fixed;
  background-size: cover;
}
